@import url("colors.css");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Lato: 'Lato', sans-serif;
    --Playfair-display: 'Playfair Display', serif;
} 

ul {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

h1, h2, h3 {
    font-family: var(--Playfair-display);
}

p, div, span, a {
    font-family: var(--Lato);
}

body { 
    width: 100%;
    min-height: 100vh;
    font-size: 17px;
    color: rgba(0, 0, 0, 0.9);
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 100%;
    height: 100%;
}

.todo img, .project img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

/* header */
.header-container {
    grid-column: 1 / -1;
    background-color: var(--blue-gray);
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    color: white;
}
/* 
side-bar */
.side-bar-container {
    grid-column: 1 / 2;
    height: 90vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.side-bar-container h2 {
    font-size: 32px;
}

.home ul {
    margin-left: 15px;
    padding: 10px;
}

.home li {
    margin-bottom: 5px;
    padding: 5px;
}

.home li img {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.projects-container {
    padding: 8px;
}

.add-project {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 5px;
}

.add-project img {
    width: 10%;
    margin-right: 5px;
    transition: 0.5 ease-in-out;
}

.projects {
    margin-left: 20px;
    padding: 10px;
}

.project {
    margin-bottom: 5px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    background: var(--green-gradient);
    position: relative;
}

.project img {
    display: none;
}

.project:hover img {
    display: block;
}

.project a {
    margin-left: 5px;
}

.add-project:hover, .home li:hover {
    background-color: var(--light-gray);
}

.add-project:hover img {
    transform: rotate(180deg);
}

/* main-content */
.main-content-container {
    display: grid;
    grid-template-rows: 1fr 5fr;
}

.search-bar {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 25px;
}

.search-bar input {
    background-color: var(--light-gray);
    border-radius: 15px;
    width: 40%;
    height: 70%;
    padding: 5px;
    border: none;
}

.search-bar img {
    margin-left: 15px;
    width: 3%;
}

/* todos  */
.todo-container {
    padding: 25px;
    background-color: var(--light-gray);
}

.todo {
    width: 90%;
    height: 8vh;
    margin-left: 15px;
    display: grid;
    grid-template-columns: 1fr 6fr 2fr;
    align-items: center;
    position: relative;
    background: linear-gradient(to right, var(--blue) 8px, white 0);
}

.todo-title {
    font-size: 18px;
    font-weight: 500;
}

.todo-icons {
    margin-left: 40px;
    display: flex;
    align-items: center;
}

.todo-icons button {
    border: 1px solid var(--blue-gray);
    background-color: white;
    color: var(--blue-gray);
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 5px;
}

.todo label {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

/* checkbox */
.todo-label::before, .todo-label::after {
     content: "";
     border-radius: 50%;
     width: 25px;
     height: 25px;
     position: absolute;
     left: 50px;
     top: 12px;
     border: 1px solid rgba(0, 0, 0, 0.6);
     cursor: pointer;
}

.todo input[type="checkbox"]:checked + .todo-label::after {
   background-image: url(icons/check-solid.svg);
   background-size: 20px 20px;
   background-repeat: no-repeat;
   background-position: center;
   background-color: var(--green);
}

.todo input[type='checkbox']{
    opacity: 0;
    position: relative;
}

/* Add button */
.addTodoBtn {
    border: none;
    border-radius: 50%;
    position: fixed;
    background-color: var(--blue-gray);
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 5rem;
    right: 6rem;
    cursor: pointer;
    height: 60px;
    width: 60px;
}

.addTodoBtn:hover {
    height: 65px;
    width: 65px;
}

.addTodoBtn img {
    transition: 0.5s ease-in-out;
}

.addTodoBtn img:hover {
     transform: rotate(180deg);
}

/* forms */
.todo-form {
    position: absolute;
    top: -100%;
    margin-top: -180px;
    left: 50%;
    margin-left: -300px;
    width: 600px;
    height: 360px;
    background-color: white;
}

.form-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--blue-gray);
    color: white;
    margin-bottom: 15px;
    padding: 10px;
}

.form-title img {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.todo-form label {
    margin-bottom: 15px;
}

.form-inputs, .project-inputs {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.form-inputs input[type="text"]{
    width: 50%;
    padding: 10px;
    border: none;
}

textarea {
    margin-bottom: 15px;
    border: none;
}

.form-inputs input[type="text"]:focus, textarea:focus, #Project-name:focus {
     outline: 2px solid blue;
     border: none;
}

.form-inputs input, .form-inputs select {
    margin-left: 8px;
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.submit-todo, .submit-project {
     width: 10em;
     border: none;
     font-weight: 1em;
     color: white;
     background-color: var(--blue-gray);
     padding: 10px 15px;
     border-radius: 5px;
     cursor: pointer;
}

/* project form */
.project-form {
    position: absolute;
    top: -100%;
    margin-top: -135px;
    left: 50%;
    margin-left: -300px;
    width: 600px;
    height: 270px;
    background-color: white;
}

#Project-name {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid black;
    margin-bottom: 15px;
}

.color-picker-title {
    margin-bottom: 10px;
}

.color-picker {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    margin-bottom: 20px;
}

.color {
    border-radius: 50%;
    border: 1px solid black;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.color:focus {
    outline: 3px solid gray;
}

/* edit-delete btn */
.edit-delete {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 6em;
    height: 1em;
    top: -1000%;
    right: -8%;
}

.edit-delete div {
    background-color: #e6e4e4;
    padding: 8px 10px;
    border: none;
    font-size: 0.8em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-delete div:hover {
    background-color: 	#fcf9f9;
}

.show-menu {
    top: -40%;
}
/*todo details*/
.see-more {
    position: absolute;
    top: -100%;
    left: 50%;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 400px;
    margin-left: -200px;
    height: 220px;
    margin-top: -110px;
} 

.see-more-info {
    padding: 0px 10px;
}

.see-more-info div {
    margin-bottom: 10px;
    display: flex;
    gap: 0.5em;
    align-items: center;
}

